:root {
	--light: #fff4ef;
	--dark: #1d202b;
  --foreground: var(--dark);
	--background: var(--light);
	--heading-font: refrigerator-deluxe, Impact, sans-serif;
	--heading-weight: 800;
	--subheading-font: futura-pt, sans-serif;
	--subheading-weight: 500;
	--body-font: schoolbook, Georgia, serif;
	--body-weight: 400;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: var(--light);
		--background: var(--dark);
	}
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
	font-size: 110%;
	border: 2em solid white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  min-height: 100vh;
  scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: var(--body-font);
	font-weight: var(--body-weight);
	line-height: 1.5;
	text-rendering: geometricPrecision;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: var(--background);
	color: var(--foreground);
	margin: 0;
	font-size: 1em;
	padding: 2em;
	max-width: 70em;
	margin: 0 auto;
}

@media all and (min-width: 800px) {
	body {
		padding: 4em;
	}
}

ul {
	list-style: none;
	padding-left: 0;
}

ol[class] {
	list-style: none;
}

ul:not([class]) > li:before {
	content: "– ";
	margin-right: .5em;
}

a {
	color: inherit;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: inherit;
	padding: .25rem;
	margin: -.25rem;
}

a:not([class]):hover,
a:not([class]):focus {
	color: var(--background);
	background-color: var(--foreground);
}

a[class] {
	text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}


article > * + * {
  margin-top: 1em;
}


input,
button,
textarea,
select {
  font: inherit;
}

main {
	flex: 1 0 auto;
}

hr {
	margin: 2em 0;
	border-top: 4px solid;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */

h1, blockquote, .postlist-item a  {
	font-family: var(--heading-font);
	text-transform: uppercase;
}

h1, blockquote > p:first-child {
	font-size: 2.25em;
}

blockquote cite {
	font-size: 1rem;
	font-style: normal;
}

h2, h3, h4, time, nav, strong {
	font-family: var(--subheading-font);
	letter-spacing: -0.05rem;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

.content > * + * {
	margin-top: 1em;
}

/* Header */

header {
	padding-bottom: 2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media all and (min-width: 600px) {
	header {
		padding-bottom: 10em;
	}
}

nav {
	display: flex;
	align-items: baseline;
	margin-left: -2em;
	padding-bottom: 1em;
	font-size: 1.125em;
}

.logo {
	width: 200px;
	display: block;
	padding-bottom: 1rem;
	padding-top: .25em;
}

.logo-part {
	fill: var(--foreground);
}

.nav-link {
	display: block;
	/* margin-left: 2em; */
	line-height: 1;
	padding: .25em;
	margin: -.25em -.25em -.25em 2em;
}

.nav-link:hover,
.nav-link:focus {
	background-color: var(--foreground);
	color: var(--background);
}

.nav-link.active {
	text-decoration: underline;
}

/* Content */

.stack > * + * {
	margin-top: 1em;
}

.content {
	max-width: 35em;
	padding: 4em 0;
}

.content img {
	margin: 2em 0;
}
.content img + em {
	display: block;
	margin-top: -1em;
	margin-bottom: 2em;
}

.postlist-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.postlist-item a {
	display: block;
	font-size: 1.75em;
}

/* Footer */

footer {
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}