---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Hello, I'm a Bread Wanker</h1>
<p>This is where I write about bread, baking, and food</p>

<hr>

<h2>These are my recent blogs</h2>
<div class="content stack">

{% set postslist = collections.posts | head(-1) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

</div>

<p>More posts can be found in <a href="{{ '/posts/' | url }}" target="_blank" rel="noreferrer">the archive</a>.</p>
